.info {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 58px auto 0;
}

.info__title {
    margin: 0;

    font-family: 'Helvetica', Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 41px;
    color: #000;
}

.info__text {
    margin: 24px 0 0;
    max-width: 857px;

    font-family: 'Helvetica', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 1.76;
    color: #000;
}

.info__goods {
    margin: 69px auto 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.goods__item {
    width: 50%;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.info__goods .goods__item.mt {
    margin-top: 56px;
}

.goods__capture {
    max-width: 403px;
    margin: 0 0 0 16px;

    font-family: 'Helvetica', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 189.9%;
    color: #717171;
}

@media (max-width: 1024px) {
    .info {
        margin-top: 55px;
    }
    .info__title {
        text-align: center;
    }
    .info__text {
        margin-left: auto;
        margin-right: auto;
        text-align: left;
        font-size: 18px;
        line-height: 33px;
        max-width: 632px;
    }
    .info__goods {
        margin-top: 5px;
        max-width: 632px;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .info__goods .goods__item {
        margin-top: 36px;
        width: 100%;
        align-items: center;
    }
    .goods__capture {
        max-width: 520px;
        margin-left: 20px;
    }
}

@media (max-width: 768px) {
    .info__title {
        text-align: left;
    }
    .info__text {
        text-align: left;
        margin-left: 0;
    }
    .info__goods {
        max-width: 100%;
    }
}
@media (max-width: 640px) {
    .info {
        margin-top: 56px;
    }
    .info__title {
        margin: 0 auto;
        text-align: center;
    }
    .info__text {
        font-size: 16px;
        line-height: 1.69;
        text-align: center;
    }
    .info__goods {
        margin-top: 4px;
    }
    .goods__item {
        flex-direction: column;
        margin-top: 28px;
    }
    .goods__capture {
        margin: 16px auto 0;
        text-align: center;
        max-width: 282px;
    }
}
