.moto {
    max-width: 600px;
    margin: 174px 0 0;
}

.moto__title {
    margin: 0;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 136.6%;
    color: #fff;
}

.moto__button {
    cursor: pointer;
    margin-top: 32px;
    background: #4ee8c4;
    padding: 20px 27px;
    border-radius: 10px;
    border: none;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #000;
    transition: all linear .3s;
}

.moto__button:hover {
}

@media (max-width: 1024px) {
    .moto {
        margin: 225px 0 0 80px;
    }
    .moto__title {
        max-width: 500px;
        font-size: 29px;
        line-height: 136.6%;
    }
}
@media (max-width: 640px) {
    .moto {
        margin: 165px auto 0;
    }
    .moto__title {
        margin: 0;
        padding: 0;
        max-width: 233px;
        font-size: 23px;
        line-height: 139.6%;
    }
    .moto__button {
        margin: 116px auto 0;
        font-size: 16px;
        line-height: 19px;
        padding: 21px 15px;
        min-width: 220px;
    }
}

