.footer {
    width: 100%;
    max-width: 1040px;
    margin: 77px auto 69px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.footer__links {
    display: flex;
    flex-direction: column;
}

.footer__docs-one {
    display: flex;
    flex-direction: row;
}

.footer__docs-two {
    display: flex;
    flex-direction: row;
    margin-top: 19px;
    margin-bottom: 0;
}

.footer__link {
    margin: 0 24px 0 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 189.9%;
    text-decoration-line: underline;
    color: #717171;
}

.footer__copyright {
    align-self: flex-end;
    margin: 0;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 189.9%;
    text-align: right;
    color: #717171;
}

@media (max-width: 1024px) {
    .footer {
        margin: 46px auto 72px;
        flex-direction: column;
    }
    .footer__copyright {
        align-self: flex-start;
        margin-top: 19px;
    }
    .footer__link:last-of-type {
        margin: 0;
    }
}
@media (max-width: 640px) {
    .footer {
        margin: 35px auto 56px;
        width: calc(100% - 10px);
    }
    .footer__docs {
        flex-direction: column;
        align-items: center;
    }
    .footer__docs-two {
        margin-top: 28px;
        row-gap: 28px;
    }
    .footer__link {
        margin: 0 auto;
        text-align: center;
    }
    .footer__copyright {
        margin: 28px auto 0;
    }
}
